/* TOC*/

/*Baseline Styles
Text Styles
Header and Navigation Styles
Footer Styles
Media Queries*/

/* Colors:
“Black”: #0D0D0D
Medium Violet: #BF4193
Dark Violet: #732666
Yellow Orange: #F2A03D
Bright Orange: #F26835
Pinkish Orange: #D96055
 */


/******* BASELINE STYLES *******/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    font-size: 16px;
    background-color: #fffff9;
    color: rgb(44, 12, 39);
    font-family: 'Quicksand', sans-serif;
}

ul{
    list-style: none;
}

img {
	max-width: 100%;
}

h1,h2 {
    font-size: 250%;
    font-family: 'Cherry Bomb One', cursive;
    color: #732666;
}

h3 {
    font-family: 'Cherry Bomb One', cursive;
    font-size: 150%;
    color: #F26835;
}

/******* NAV STYLES *******/

.header{
    padding-top:0px;
    padding-left: 0px;
    background-image: url("images/header-background.png");
    background-repeat: no-repeat;
    /*background-attachment: static;*/
    background-position: left top;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}

.header a img {
    margin-left: 40px;
    margin-top: 40px;
}

/********************* Nav menu *************************/
.nav{
    width: 100%;
    height: 90%;
    position: fixed;
    overflow: hidden;
    background: rgb(244,150,9);
    background: linear-gradient(0deg, rgba(244,150,9,0.9) 100%, rgba(241,43,200,0.9) 100%, rgba(255,255,249,1) 100%);
}


.menu a{
    display: block;
    font-size: 24px;
    padding: 30px;
    color: #ffffff;
    text-decoration: none;
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: #BF4193;
    display: block;
    height: 3px;
    position: relative;
    width: 30px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: #BF4193;;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%; 
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsive Menu Styles */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background:none;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a{
        color: #BF4193;
        font-size: 18px;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}



/************************** Home Page Styles *************************/

#welcome {
    /*margin-top: 40px;*/
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
}
.welcome-item{
    padding: 30px;
    width: 50%;
}

#welcome p {
    font-size: 120%;
    line-height: 1.5em;
    margin-bottom: 1.5em;
   
}

#welcome img{
    border-radius: 2rem;
}

/****** BUTTON STYLES ******/


.btn {
    flex: 1 1 auto;
    margin-top: 30px;
    padding: 30px;
    font-size: 120%;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    background-size: 150% auto;
    color: #732666;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 21px;
}


.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
  
.btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}
  
.btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}
  
.btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}

/****** GALLERY STYLES ******/

#portfolio h2 {
    color: #bf4193;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
#gallery__filters {
    display:none;
    margin: 2em 1em;
    text-align: center;
  }
  
.gallery__filter {
    outline: none;
    cursor: pointer;
    color: #732666;
    text-decoration: none;
    margin: 5px 10px;
    padding: 10px;
    background: none;
    transition: .3s ease all;
    border: none;
    /*border: 2px solid #D96055;*/
    border-radius: 15px;
    /* H4 */
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.2;
  }
  
.gallery__filter:hover {
    color: #fff;
    background-color: #D96055;
  }
  
.gallery__filter.tag--active {
    background-color: #fff;
    border: 2px solid #D96055;
  }

  #gallery__filters__message {
      display:none;
    color: #eb3924;
    background-color: rgba(235, 209, 143, .6);
    padding: 10px;
  }
  
  .gallery__row {
    display: table;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }
  
  @media screen and (min-width: 200px) {
    .gallery__column {
      float: left;
      width: 50%;
      display: none;
      /* Hide gallery__row by default */
    }
  }
  
  @media screen and (min-width: 680px) {
    .gallery__column {
      width: 25%;
    }
  }
  
  #gallery__thumb {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    margin:5px;
  }
  
  #gallery__thumbs .thumb__wrapper {
    position: relative;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    width: 100%;
    /* Height and padding-bottom creates a fluid height - here set to a 3x2 aspect ratio */
    height: 0;
    padding-bottom: 66%;
    
  }
  
  #gallery__thumbs .thumb__wrapper .thumb__caption {
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(115, 38, 102, .9);
    text-align: center;
    position: absolute;
    z-index: 100;
    padding: 20% 5%;
    box-sizing: border-box;
    transition: all 300ms ease;
    /* H3 */
    font-family: 'Quicksand', sans-serif;
           font-weight: 500;
    font-size: 1em;
    line-height: 1.2;
    color: #fff;
  }
  
  #gallery__thumbs .thumb__wrapper div {
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
    backface-visibility: hidden;
    /* Required for fluid heights */
    position: absolute;
    /*background-size: contain !important;*/
    background-size:cover !important;
  }
  
  #gallery__thumbs .thumb__wrapper div:hover,
  #gallery__thumbs .thumb__wrapper div:focus,
  #gallery__thumbs .thumb__wrapper div:active {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.4);
  }
  
  #gallery__thumbs .thumb__wrapper div:hover .thumb__caption,
  #gallery__thumbs .thumb__wrapper div:focus .thumb__caption,
  #gallery__thumbs .thumb__wrapper div:active .thumb__caption {
    transform: none;
    transform: scale(.72) translateX(139%);
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--autumn {
    background: url(images/Autumn-Sunshine.jpg) center;
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--elegance {
    background: url(images/Bright-Elegance-Bouquet.jpg) center;
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--pinks {
    background: url(images/Classic-Pinks-Bouquet.jpg) center;
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--country {
    background: url(images/country-charm-bouquet.jpg) center;
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--fiesta {
    background: url(images/fiesta-bouquet.jpg) center;
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--holiday {
    background: url(images/Holiday-Greetings.jpg) center;
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--wild {
    background: url(images/Wild-Autumn.jpg) center;
  }
  
  #gallery__thumbs .thumb__wrapper #thumb--wine {
    background: url(images/Wine-Roses-Bouquets.jpg) center;
  }
  
  .filter--show {
    display: block;
  }
  
/********************************* HOW TO ORDER ********************************/

#order-steps {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.steps {
    padding: 30px;
    font-size: larger;
}

#how-to-order h2{
    color: #D96055;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

#how-to-order h3{
    text-align: center;
    font-size: 24px;
    font-weight:bolder;
}

.steps .orange {
    color: #F26835;
}

.steps .pink-orange{
    color: #D96055;
}

.steps .red-violet {
    color:#BF4193;
}

.steps p {
    margin-top: 24px;
    text-align:center;
}

#order-button{
    display: flex;
    width: 100%;
    align-content: center;
    
}
.btn-5, .btn-2{
   width: 33%;
   text-align: center;
   margin: 18px 30%;
}

/************ ABOUT PAGE STYLES *****************/

#mission h2{
    color: #D96055;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

#mission h3{
    text-align: center;
    font-size: 24px;
    font-weight:bolder;
}

#mission img {
    width: 300px;
    border-radius: 2rem;
}

.row-3 {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#video h2 {
    text-align:center;
    margin-bottom: 48px;
}
.youtube-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************* ABOUT FLOWERS STYLES **********************/

#flower-colors {
    padding-left: 5%;
    padding-right: 5%;
}
#flower-colors h2{
    text-align:center;
    margin-bottom: 30px;
}
#flower-colors h3{
    text-align: center;
    font-size: 24px;
    font-weight:bolder;
}
.colors {
    width:33%;
    text-align:center;
    padding-left: 30px;
    padding-right: 30px;
}
#flower-colors img {
    width: 250px;
    border-radius: 2rem;
    margin-bottom: 21px;
}

/******************* ORDER STYLES ***************************/

legend {
    font-size: 21px;
    color: #D96055;
}

fieldset {
    width: 100%;
    padding: 18px;
    border:none;
}

input,textarea {
    margin-top: 18px;
    padding: 9px;
    border-radius: 2rem;
    border:1px solid #D96055;
}

input.btn-5{
    margin: 18px 20px 18px 30px;
    border:1px solid #D96055;
}


/******************* FOOTER STYLES ***************************/
footer{
    background-image: url("images/budding-florist-footer-1200.png");
    background-repeat: no-repeat;
    background-attachment: static;
    background-position: center top;
}

footer {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 60px;
}
footer p {
    text-align: center;
}

#instagram {
    padding-top: 50px;
}


/******************************* MEDIA QUERIES ************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        backdrop-filter: blur(10px);
        /*background-color: rgba(6, 5, 5, 0.5); /* Red color with 50% opacity */
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    #welcome {
        flex-direction: column-reverse;
    }

    .welcome-item{
        width: 90%;
    }
    

    #order-steps {
        flex-direction: column;
    }

    .row-3 {
        flex-direction: column;
    }

    .center {
        display: flex;
        width: 100%;
        text-align: center;
    }

    .colors {
        width:99%;
        margin-bottom: 35px;
    }
}
